.title {
    font-size: 50px;
    font-weight: 400;
    color: white;
    z-index: 1;
    line-height: 1.2;
    max-width: 600px;
  }

  @media (min-width: 768px) {
    .title {
      height: fit-content;
    }
  }

