.div{
  
}

#hero-section {
  display: flex;
  background-color: lightblue;
  position: absolute;
  left: 0px;
  top: 55px;
  height: 92.5%;
  background-image: url('../../public/images/pointing.png');
  background-repeat: no-repeat;
  align-items: flex-end;
  /* background-position: -300px 0px; */
}

@media (max-width: 1176px) {
  #hero-section {
    /* background-size: 992px; */
    background-position: -300px 0px;
  }
}


@media (max-width: 992px) {
  #hero-section {
    /* background-size: 992px; */
    background-position: -540px 0px;
  }
}


@media (max-width: 768px) {
  #hero-section {
    background-position: -700px 0px;
  }
}

@media (max-width: 576px) {
  #hero-section {

  }
}


.other {
  background-image: url('../../public/images/point6.png');
  background-repeat: no-repeat;
  background-size: 1300px 100%;
  background-position: -150px 0px;
  position: absolute;
  background-color: blue;
  left: 0px;
  top: 50px;
  height: 600px;
  width: 100%;
}

#title {
  /* padding-left: 15px; */
  border: solid 2px;
  left: 20px;
  bottom: 50px;
  bottom: 50px;
  font-size: 50px;
  font-weight: 400;
  color: white;
  z-index: 1;
  line-height: 1.2;
  max-width: 600px;
}

@media (max-width: 768px) {
  #hero-section {
    background-position: -700px 0px;
  }
}

#title-text {

}

#image {
  /* border: 2px solid; */
  height: 70%;
  background-image: url('../../public/images/pointing2.png') ;
  background-repeat: no-repeat;
  background-size: 800px 550px;
  background-position: -300px 0px;
}

.row {
  margin-left: 0px;
}


@media (min-width: 768px) {
  #title {
    height: fit-content;
  }
}

@media (min-width: 768px) {
  #image {
    height: 100%;
  }
}

.hero-button {
  border-radius: 20px;
  background-color: white;
  margin-top: 20px;
  width: 50%;
  color: black;
  border: none;
}

.hero-button:hover {
  background-color: lightgray;
  color: black;
}