#card-button {
    background-color: black;
    color: white;
    width: 50%;
    height: 55px;
    border-radius: 20px;
    border: none;
    margin-left: 25%;
}

#card-button:hover {
    background-color: gray;
}