#hero-section {
  flex-direction: column;
  display: flex;
  top: 55px;
  height: 90vh;
  background-image: url('../../../public/images/WPI_Huddle.jpeg');
  background-repeat: no-repeat;
  margin-left: -15px;
  margin-right: -15px;
}

#hero-section .row {
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 1176px) {
  #hero-section {
    /* background-size: 992px; */
    background-position: -300px 0px;
  }
}


@media (max-width: 992px) {
  #hero-section {
    /* background-size: 992px; */
    background-position: -540px 0px;
  }
}


@media (max-width: 768px) {
  #hero-section {
    background-position: -700px 0px;
  }
}

@media (max-width: 768px) {
  #hero-section {
    background-position: -700px 0px;
  }
}

@media (min-width: 768px) {
  #image {
    height: 100%;
  }
}

#hero-row {
  margin-bottom: 40px;
}

#hero-section .title {
  color: white;
  text-shadow: 1px 1px 0px black, -1px -1px 0px black;
}

.hero-button {
  border-radius: 20px;
  background-color: white;
  margin-top: 20px;
  color: black;
  border: none;
  width: 300px;
}

@media (max-width: 576px) {
  .hero-button {
    width: 100%;
    height: 45px;
  }

  .hero-button:active {
    background-color: lightgray;
    color: black;
  }

  #hero-section .row {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.hero-button:hover {
  background-color: lightgray;
  color: black;
}

.hero-button:active {
  background-color: rgb(191, 191, 191) !important;
  color: black !important;
  border: none !important;
}